@font-face {
  font-family: "Avrt";
  src: url("/@/avrt/Avrt-Bold.woff2") format("woff2"),
    url("/@/avrt/Avrt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avrt";
  src: url("/@/avrt/Avrt-Semibold.woff2") format("woff2"),
    url("/@/avrt/Avrt-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avrt";
  src: url("/@/avrt/Avrt-Regular.woff2") format("woff2"),
    url("/@/avrt/Avrt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
