@font-face {
  font-family: "CMU Concrete";
  src: url("/@/CMU/CMUConcrete-Bold.woff2") format("woff2"),
    url("/@/CMU/CMUConcrete-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Concrete";
  src: url("/@/CMU/CMUConcrete-Roman.woff2") format("woff2"),
    url("/@/CMU/CMUConcrete-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Concrete";
  src: url("/@/CMU/CMUConcrete-Italic.woff2") format("woff2"),
    url("/@/CMU/CMUConcrete-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Bright";
  src: url("/@/CMU/CMUBright-SemiBold.woff2") format("woff2"),
    url("/@/CMU/CMUBright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Bright";
  src: url("/@/CMU/CMUBright-SemiBoldOblique.woff2") format("woff2"),
    url("/@/CMU/CMUBright-SemiBoldOblique.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Bright";
  src: url("/@/CMU/CMUBright-Oblique.woff2") format("woff2"),
    url("/@/CMU/CMUBright-Oblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Concrete";
  src: url("/@/CMU/CMUConcrete-BoldItalic.woff2") format("woff2"),
    url("/@/CMU/CMUConcrete-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: url("/@/CMU/CMUTypewriter-Italic.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriter-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: url("/@/CMU/CMUTypewriter-Bold.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text Variable Width";
  src: url("/@/CMU/CMUTypewriterVariable.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriterVariable.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Bright";
  src: url("/@/CMU/CMUBright-Roman.woff2") format("woff2"),
    url("/@/CMU/CMUBright-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text Variable Width";
  src: url("/@/CMU/CMUTypewriterVariable-Italic.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriterVariable-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: url("/@/CMU/CMUTypewriter-BoldItalic.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriter-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: url("/@/CMU/CMUTypewriter-Regular.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriter-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Classical Serif";
  src: url("/@/CMU/CMUClassicalSerif-Italic.woff2") format("woff2"),
    url("/@/CMU/CMUClassicalSerif-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif Upright";
  src: url("/@/CMU/CMUSerif-UprightItalic.woff2") format("woff2"),
    url("/@/CMU/CMUSerif-UprightItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: url("/@/CMU/CMUTypewriter-Light.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif Extra";
  src: url("/@/CMU/CMUSerif-BoldSlanted.woff2") format("woff2"),
    url("/@/CMU/CMUSerif-BoldSlanted.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif Extra";
  src: url("/@/CMU/CMUSerif-RomanSlanted.woff2") format("woff2"),
    url("/@/CMU/CMUSerif-RomanSlanted.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/@/CMU/CMUSerif-BoldItalic.woff2") format("woff2"),
    url("/@/CMU/CMUSerif-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: url("/@/CMU/CMUTypewriter-LightOblique.woff2") format("woff2"),
    url("/@/CMU/CMUTypewriter-LightOblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/@/CMU/CMUSerif-Bold.woff2") format("woff2"),
    url("/@/CMU/CMUSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: url("/@/CMU/CMUSansSerif-BoldOblique.woff2") format("woff2"),
    url("/@/CMU/CMUSansSerif-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: url("/@/CMU/CMUSansSerif-Bold.woff2") format("woff2"),
    url("/@/CMU/CMUSansSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: url("/@/CMU/CMUSansSerif.woff2") format("woff2"),
    url("/@/CMU/CMUSansSerif.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: url("/@/CMU/CMUSansSerif-Oblique.woff2") format("woff2"),
    url("/@/CMU/CMUSansSerif-Oblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CMU Sans Serif Demi Condensed";
  src: url("/@/CMU/CMUSansSerif-DemiCondensed.woff2") format("woff2"),
    url("/@/CMU/CMUSansSerif-DemiCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/@/CMU/CMUSerif-Roman.woff2") format("woff2"),
    url("/@/CMU/CMUSerif-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CMU Serif";
  src: url("/@/CMU/CMUSerif-Italic.woff2") format("woff2"),
    url("/@/CMU/CMUSerif-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
