@font-face {
  font-family: "Myriad Pro";
  src: url("/@/myriad-pro/MyriadPro-Regular.woff2") format("woff2"),
    url("/@/myriad-pro/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/@/myriad-pro/MyriadPro-Bold.woff2") format("woff2"),
    url("/@/myriad-pro/MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
