@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-150.woff2") format("woff2"),
    url("/@/authentic-sans-150.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-90.woff2") format("woff2"),
    url("/@/authentic-sans-90.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed90.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed90.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed60.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed150.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed150.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-60.woff2") format("woff2"),
    url("/@/authentic-sans-60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed130.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed130.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-130.woff2") format("woff2"),
    url("/@/authentic-sans-130.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-150.woff2") format("woff2"),
    url("/@/authentic-sans-150.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-130.woff2") format("woff2"),
    url("/@/authentic-sans-130.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-60.woff2") format("woff2"),
    url("/@/authentic-sans-60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-90.woff2") format("woff2"),
    url("/@/authentic-sans-90.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed150.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed150.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed90.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed90.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed60.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed60.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "authentic sans";
  src: url("/@/authentic-sans-Condensed130.woff2") format("woff2"),
    url("/@/authentic-sans-Condensed130.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
