@font-face {
    font-family: 'nats';
    src: url('/@/nats/nats.woff2') format('woff2'),
        url('/@/nats/nats.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

