@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-Medium.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Medium.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-Light.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-ExtraLight.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/@/raleway/RalewayThin-Italic.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-ExtraBold.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-ExtraBold.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/@/raleway/RalewayThin-Bold.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Bold.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-SemiBold.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-SemiBold.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-Black.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Black.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/@/raleway/RalewayThin-Regular.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/@/raleway/RalewayThin-Regular.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-Medium.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Medium.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/@/raleway/RalewayThin-Italic.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-ExtraLight.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-Black.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Black.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/@/raleway/RalewayThin-Bold.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Bold.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-ExtraBold.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-ExtraBold.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-Light.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/@/raleway/RalewayThin-SemiBold.woff2") format("woff2"),
    url("/@/raleway/RalewayThin-SemiBold.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
